header {
  width: 100%;
  font-size: 2.1rem;
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue--4);
  color: #eee;
  position: relative;
}

.header__logo {
  text-align: center;
  text-transform: uppercase;
  background-color: var(--purple);
  height: 6.5rem;
  font-size: 2.2rem;
  min-width: 15vw;
  font-weight: bold;
  cursor: pointer;
  border-top: 5px var(--purple) solid;
}

.main-nav {
  width: 100%;
  height: 100%;
}

.main-nav__links > li {
  position: relative;
  display: flex;
  width: 100%;
  border-right: 5px #444 solid;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-nav__links li:first-of-type {
  border-left: 5px #444 solid;
}

.main-nav__links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: 500;
}

.main-nav__link {
  position: relative;
  width: fit-content;
  text-align: center;
  padding: 0 3rem;
}

.main-nav__links > li::after,
li::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 6px;
  background-color: var(--purple);
  transition: transform 0.35s ease-out;
  left: 0;
}

.main-nav__links > li::after {
  top: -1px;
  transform-origin: top left;
}

.main-nav__links > li::before {
  bottom: -1px;
  transform-origin: bottom right;
}

.main-nav__links > li:hover {
  font-size: 2.32rem;
  border-left: 6px var(--purple) solid;
  border-right: 6px var(--purple) solid;
}

.main-nav__links > li:not(:first-child):hover {
  margin-left: -5px;
}

.main-nav__links > li:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}

.main-nav__links > li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
}

/* MOBILE */

.mobile-nav {
  display: none;
  color: black;
  z-index: 999;
  width: 100vw;
}

.mobile-nav__links {
  display: flex;
  z-index: 99999900;
  top: 0;
  left: 0;
  background-color: var(--purple);
  position: absolute;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 2.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #eee;
  width: 100%;
}

.hamburger {
  position: absolute;
  z-index: 9999;
  top: 1rem;
  right: 3rem;
  display: none;
  cursor: pointer;
}

.hamburger__bar1,
.hamburger__bar2,
.hamburger__bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  font-weight: bold;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger__change-icon .hamburger__bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.hamburger__change-icon .hamburger__bar2 {
  opacity: 0;
}

.hamburger__change-icon .hamburger__bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (max-width: 30rem) {
  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .hamburger {
    display: inline;
  }

  .header__logo {
    width: 60%;
  }
}
